*.class
.classpath
.project
.settings
target

bin
#cache

# Package Files #
*.jar
*.war
*.ear

#Idea files
.idea/*
*.iml
*.log

felix-cache

pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

deptree.txt

JSA-NOP.tsv
results.tsv
